.DS_Store
tempCodeRunnerFile.cpp
*.o
bin
demo_service/.venv
CMakeFiles
.vscode

cmake-build-verbose
cmake-build-verbose-17216221
cmake-build-verbose-17216222
cmake-build-verbose-146190202193
cmake-build-release
cmake-build-release-17216221
cmake-build-release-17216224
